.idea/

node_modules/
**/.DS_Store

dist/
release/
package-lock.json

.yarn/*
.yarn/cache
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

packages/interfaces/.yarn

packages/renderer/src/components.d.ts
