*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-size: 12px;
  font-family: 'PingFangSC-Regular', 'Microsoft Yahei';
  margin: 0;
  height: 100%;
  overflow: hidden;
}
button {
  outline: none;
  border: none;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
#nprogress .bar {
  height: 3px;
}
